<div style="background-color: white; border-radius: 20px; width: 60%; min-height: 100px; opacity: 0.7; position: absolute; margin-left:20%; margin-top:5%; padding: 2%;">
	<table class="table">
		<tr>
			<td><span class="label_name">Track Id</span></td>
			<td>{[{track.track_id}]}</td>
			<td><span class="label_name">Name</span></td>
			<td>{[{track.track_name}]}</td>
		</tr>
		<tr>
			<td><span class="label_name">Singer</span></td>
			<td>{[{track.singer}]}</td>
			<td><span class="label_name">Rating</span></td>
			<td>{[{track.rating}]}</td>
		</tr>
		<tr>
			<td>Genres</td>
			<td><button>Add Genre</button></td>
		</tr>
		
	</table>
</div>