{% extends 'index.html' %}

{% block content %}
<div class="home_page">
	<form style="position: absolute; width: 60%; margin-left: 20%; margin-top:10%;" id="search_song_form">
		<input type="text" name="search_song" id="search_song" style="border-radius: 20px; height: 50px;  width: 100%; " placeholder="Search Your Song here" />
		<input type="button" name="submit" style="display: none;" />
	</form>

	<div class="box" style="margin-top: 15%; position: absolute; margin-left: 20%; background-color: white; border-radius: 20px; padding: 10px;">
            <div class="box-header with-border">
              <h3 class="box-title">Tracks</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <table id="track_table" class="display compact" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Singer</th>
                        <th>Genre</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                </table>
          </div>
    </div>
    <div class="modal fade" id="add_track_modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Modal Header -->
	            <div class="modal-header">
	                <button type="button" class="close" 
	                   data-dismiss="modal">
	                       <span aria-hidden="true">&times;</span>
	                       <span class="sr-only">Close</span>
	                </button>
	                <h4 class="modal-title" id="myModalLabel">
	                    Add Track
	                </h4>
	            </div>
            
	            <!-- Modal Body -->
	            <div class="modal-body">
		                <form class="form-horizontal" role="form" id="add_track_form">
		                  <div class="form-group">
		                    <label  class="col-sm-2 control-label"
		                              for="title">Title</label>
		                    <div class="col-sm-10">
		                        <input type="text" class="form-control" 
		                        id="title" placeholder="Track name here"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label class="col-sm-2 control-label"
		                          for="singer" >Singer</label>
		                    <div class="col-sm-10">
		                        <input type="text" class="form-control"
		                            id="singer" placeholder="Singer Name here"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                  	<label class="col-sm-2 control-label"
		                          for="genre_name" >Genre Name</label>
		                    <div class="col-sm-10">
		                        <input type="text" class="form-control"
		                            id="genre_name" placeholder="Genre Name here"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                  	<label class="col-sm-2 control-label"
		                          for="genre_type" >Genre Type</label>
		                    <div class="col-sm-10">
		                        <input type="text" class="form-control"
		                            id="genre_type" placeholder="Genre Type here"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                  	<label class="col-sm-2 control-label"
		                          for="rating" >Ratings</label>
		                    <div class="col-sm-10">
		                        <input type="number" min="1" max="5" class="form-control" id="rating" placeholder="Enter Ratings here"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <div class="col-sm-offset-2 col-sm-10">
		                      <button type="submit" class="btn btn-default">Add</button>
		                    </div>
		                  </div>
		                </form>
			            </div>
			        </div>
			    </div>
			</div><!-- /. Modal -->
</div><!--home page-->
<script type="text/javascript">
	 var table = $('#track_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'pageLength',
            {
                extend: 'colvis',
                columns: ':not(:nth-child(1))'
            },
            {
                extend: 'collection',
                text: 'Export Current View',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']

            }
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            ['10 rows', '25 rows', '50 rows', '100 Rows', 'Show all']
        ],
        initComplete: function (settings, json ) {

               var btn_html = '<button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_track_modal" style="margin-bottom:23px;">Add Track</button>'

            $('.dt-buttons').append(btn_html);
            },
    });

	Load_tracks()

	$('#add_track_form').submit(function(){
        event.preventDefault();
        addTrack();
    });

	$('#search_song_form').submit(function(){
        event.preventDefault();
        var song_name = $('#search_song').val()
		table.search(song_name)
		table.draw();
      });
</script>
{% endblock %}